//COLORS
$color-primary:#00ECFA;
$color-primary-light:#01FFFF;
$color-primary-dark:#00B8EA;

$color-secondary:#6048DB;
$color-secondary-light:#9C8EE1;
$color-secondary-dark:#291E5C;

$color-white:#fff;
$color-black:#000;
$color-grey-dark:#777;
$color-grey-dark-1:#333;
$color-grey-light-1:#f7f7f7;


$color-greys:#343434;

$color-rosy:#A15D98;
$color-steel-blue:#4382BB;

$color-rajah:#F7CE76;
$color-corn:#9C9359;

$color-pink-light:#E9BBB5;
$color-light-blue:#AAD9CD;

$color-lynch:#7C98AB;

$color-red-pink:#d8345f;

$color-green:#28df99;


$color-chan:#BEB4C5;
$color-tony:#E6A57E;

$color-gains:#E5DBD9;
//FONTS

$font-family: 'Oswald', sans-serif;
$default-font-size:1.6rem;


// GRID

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

.u-center-text{
	text-align: center;
}