

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg{
	height: 3rem;
	width: 3rem;
	margin:0 2rem;
	margin-top: 1rem;
	transition: all .2s;
	&:hover{
		fill: #c278f8;
	}
}