.games{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	&__text{
		color: $color-white;
		font-size: 5.5rem;
		font-weight: 700;
		text-align: center;
		text-shadow: 0 1.5rem 4rem rgba($color-black, .15);
	}

	&__photo{
		margin: .5rem;
		width: 33%;
		transition: all .5s;
		border-radius: 2rem;
		filter: brightness(50%);

		&:hover{
			transform: scale(1.1);
			z-index: 10;
		}


		@include respond(phone){
			width: 50%;
		}
	}


	&__title{
		position: absolute;
		top: 25%;
		left: 34%;
		transform: translate(-50%, -50%);
		color: $color-white;
		font-size: 4rem;
		font-weight: 700;
		opacity: 1;
		text-align: center;
		width: 33%;
		transition: all .5s;
		backface-visibility: hidden;
		z-index: 100;
		text-shadow: 0 1.5rem 4rem rgba($color-black, .15);
		@include respond(phone){
		top: 17%;
		left: 50%;
		}

		&--2{
		top: 25%;
		left: 66%;

		@include respond(phone){
		top: 50%;
		left: 50%;
		}

		}


		&--3{
		top: 75%;
		left: 50%;

		@include respond(phone){
		top: 83%;
		left: 50%;
		}

		}

	}
}


