.music{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3rem;
	margin-top: 4rem;
	@include respond(phone){
		flex-direction: column;
		margin-top: 0;

	}
	&__text{
		color: $color-white;
		font-size: 5.5rem;
		font-weight: 700;
		text-shadow: 0 1.5rem 4rem rgba($color-black, .15);

		@include respond(phone){
			text-align: center;
			margin-bottom: 4rem;
		}

	}

	&__img{
		width: 45%;
		border-radius: 5rem;
		transition: all .3s;


	@include respond(phone){
		width: 90%;
	}

		&:hover{
			transform: scale(1.1);
		}
	}
}