.popup{

	&__close{

		&:link,
		&:visited{
		color:$color-secondary-dark;
		position: absolute;
		top: -1.5rem;
		right: 1.5rem;
		font-size: 5rem;
		text-decoration: none;
		display: inline-block;
		transition: all .2s;
		}

		&:hover{
			color: $color-secondary-light;
		}
	}
}