.quote{

	margin:-3.5rem auto;
	padding: 5rem 5rem;
	width: 50%;
	text-align: center;
	background-image: linear-gradient(to right bottom,
	rgba($color-white,1),
	rgba($color-white,1));
	border-radius: 1rem;
	@include respond(phone){
		width: 75%;
	}
	&__text{
		text-transform: uppercase;
		color: $color-black;
		font-weight: 400;
		margin-top: 2rem;
	}
}